<!DOCTYPE HTML>
<html>
<head>
    <title>Yelp RC</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>
    <link rel="stylesheet" href="/static/assets/css/main.css"/>
    <link rel="shortcut icon" type="image/png" href="/static/images/favicon.ico"/>
    <noscript>
        <link rel="stylesheet" href="/static/assets/css/noscript.css"/>
    </noscript>
</head>
<body class="is-preload">

<!-- Wrapper -->
<div id="wrapper">

    <!-- Main -->
    <section id="main">
        <h1>SELECTED</h1>
        <hr/>
        {% for recc in my_recc_res %}
        <div id="yelp_entry">
            <div>
                <h2>{{ recc['name'] }}</h2>
            </div>
            <div>
                {{ recc['address'] }}
            </div>
            <div>
                {{ recc['state'] }}

            </div>
            <div>
                <div class="star-rating">
                    {% for i in range(recc['stars']|int) %}
                    <label class="star">&#9733;</label>
                        {% endfor %}
{#                    <label class="star">&#9733;</label>#}
{#                    <label class="star">&#9733;</label>#}
{#                    <label class="star">&#9733;</label>#}
                </div>
            </div>
        </div>
        <hr/>
        {% endfor %}

{#        <div id="yelp_entry">#}
{#            <div>#}
{#                <h2>Jd Birds Etc</h2>#}
{#            </div>#}
{#            <div>#}
{#                20165 N 67th Ave, Ste 129#}
{#            </div>#}
{#            <div>#}
{#                <div class="star-rating">#}
{#                    <label class="star">&#9733;</label>#}
{#                    <label class="star">&#9733;</label>#}
{#                    <label class="star">&#9733;</label>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#        <hr/>#}
{#        <div id="yelp_entry">#}
{#            <div>#}
{#                <h2>Tableside Gourmet</h2>#}
{#            </div>#}
{#            <div>#}
{#                7725 E Sheridan S#}
{#            </div>#}
{#            <div>#}
{#                <div class="star-rating">#}
{#                    <label class="star">&#9733;</label>#}
{#                    <label class="star">&#9733;</label>#}
{#                    <label class="star">&#9733;</label>#}
{#                    <label class="star">&#9733;</label>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#        <hr/>#}
{#        <div id="yelp_entry">#}
{#            <div>#}
{#                <h2>Image Eye Care</h2>#}
{#            </div>#}
{#            <div>#}
{#                2789 Sunridge Heights Pkwy, Ste 110#}
{#            </div>#}
{#            <div>#}
{#                <div class="star-rating">#}
{#                    <label class="star">&#9733;</label>#}
{#                    <label class="star">&#9733;</label>#}
{#                    <label class="star">&#9733;</label>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#        <hr/>#}
{#        <div id="yelp_entry">#}
{#            <div>#}
{#                <h2>Bombay Bhel</h2>#}
{#            </div>#}
{#            <div>#}
{#                5035 Hurontario Street#}
{#            </div>#}
{#            <div>#}
{#                <div class="star-rating">#}
{#                    <label class="star">&#9733;</label>#}
{#                    <label class="star">&#9733;</label>#}
{#                    <label class="star">&#9733;</label>#}
{#                    <label class="star">&#9733;</label>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#        <hr/>#}
{#        <div id="yelp_entry">#}
{#            <div>#}
{#                <h2>Robaina & Kresin</h2>#}
{#            </div>#}
{#            <div>#}
{#                5343 N 16th St, Ste 200#}
{#            </div>#}
{#            <div>#}
{#                <div class="star-rating">#}
{#                    <label class="star">&#9733;</label>#}
{#                    <label class="star">&#9733;</label>#}
{#                    <label class="star">&#9733;</label>#}
{#                    <label class="star">&#9733;</label>#}
{#                    <label class="star">&#9733;</label>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#        <hr/>#}
    </section>

    <!-- Footer -->
    <footer id="footer">
        <ul class="copyright">
            <li>&copy; Ke Wu</li>
            <li>Made with ❤️ for u</li>
        </ul>
    </footer>

</div>

<!-- Scripts -->
<script>
    if ('addEventListener' in window) {
        window.addEventListener('load', function () {
            document.body.className = document.body.className.replace(/\bis-preload\b/, '');
        });
        document.body.className += (navigator.userAgent.match(/(MSIE|rv:11\.0)/) ? ' is-ie' : '');
    }

</script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="{{
  url_for('static', filename='jquery.js') }}">\x3C/script>')</script>
<script src="/static/assets/js/kw_list.js"></script>
{#<script>#}
{#    $(".flash").click(function () {#}
{#        $(this).addClass("animation-rotate");#}
{#        //begin a request here#}
{#    });#}
{#      // stop when call this: $(document).ajaxStop()#}
{#</script>#}
<script type=text/javascript>
    $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
</script>
</body>
</html>